*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   
}
.header{
   width: 100%;
}

.logo a{
    display: flex;
    text-decoration: none;
    width: 26%;
    margin: 0px;
}
.logo a > img{
    width: 15vw;
    height: 10vh;
}
.logo a .text{
    font-weight: bolder;
    font-size: 35px;
    margin-top: 3vh;
    margin-left: -15px;
    color: #00308F;
}
.notif{
    margin-top: -70px;
    margin-left: 370px;
    font-size: 25px;
}
.fa-bell{
    color: #00308F;
}