body{
    background: url(/Finesse/pay_img/pattern.jpg);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family: 'Franklin Gothic Medium', sans-serif;
}
.header{
    position: fixed;
    z-index: 50;
    width: 100%;
    background: linear-gradient(135deg, hsla(277, 100%, 89%, 1) 3%, hsla(206, 82%, 80%, 1) 62%);
}
.logo a{
    display: flex;
    text-decoration: none;
    width: 26%;
    margin: 0px 130px;
}
.logo a > img{
    width: 15vw;
    height: 10vh;
}
.logo a .text{
    font-weight: bolder;
    font-size: 35px;
    margin-top: 3vh;
    margin-left: -15px;
    color: #00308F;
}
nav{
    position: absolute;
    text-align: left;
    top: 100%;
    left: 0;
    background: linear-gradient(135deg, hsla(277, 100%, 89%, 1) 3%, hsla(206, 82%, 80%, 1) 62%);
    width: 99.5vw;
    display: none;
    transition: all 0.4s ease;
}
.toggle-button:checked ~ nav{
    display: block;
}
.toggle-button{
    display: none;
}
.fa-bars{
    font-size: 30px;
    color: #00308F;
}
.toggle-btn-main{
    position: absolute;
    top: 73%;
    left: 0;
    margin-left: 1rem;
    cursor: pointer;
}
nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
nav li{
    margin-left: 1rem;
    margin-bottom: 0.5rem;
}
nav a{
    text-decoration: none;
    color: #00308F;
    font-size: 12px;
    text-transform: uppercase;
} 
.buttons{
    position: absolute;
    left: 55vw;
    top: 73px;
    display: flex;
    column-gap: 15px;
}
.buttons .btn-one{
    padding: 5px 10px;
    background-color: #00308F;
    color: #A4D3F6;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    text-decoration: none;
}
.features{
    background: linear-gradient(135deg, hsla(277, 100%, 89%, 1) 3%, hsla(206, 82%, 80%, 1) 62%);
    position: absolute;
    top: 25vh;
    margin: 0px 40px;
    width: 83vw;
    border-radius: 10px;
    font-family: 'Franklin Gothic Medium', sans-serif;
}
.features .header1{
    text-align: center;
    color: #00308F;
}
.features .why{
    text-align: center;
    font-size: 18px;
    color: #00308F;
}
.uses{
    padding: 30px;
}
.uses h1{
    color: #00308F;
}
.use-para5 > a{
    text-decoration: none;
    color: #00308F;
}
.use-para5 a:hover{
    text-decoration: underline;
}
.brands{
    display: block;
    position: relative;
    top: 160vh;
    background-color: rgba(145, 144, 144, 0.534);
}
.brand1{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
 }
 .brand1 > img{
    width: 18vw;
 }
 .brand2{
    display: flex;
    gap: 0.5rem;
    justify-content: center;
 }
.brand2 > img{
    width: 18vw;
 }
.services{
    position: relative;
    top: 170vh;
    background-color: rgba(145, 144, 144, 0.534);
}
.head-service span{
    color: #00308F;
    font-size: 18px;
}
.head-service h3{
    font-size: 20px; 
    color: #fff;
    text-align: center;
}
.service1{
    display: flex;
}
.service1 .security{
    color: #00308F;
}
.protect p{
    color: #fff;
}
.protect b{
    color: #DFACFF; 
}
.service1 > img{
    width: 50vw;
}
.service2{
    margin-top: 20%;
    display: flex;
}
.service2 .security2{
    color: #00308F;
}
.protect2 p{
    color: #fff;
}
.protect2 b{
    color: #DFACFF; 
}
.service2 > img{
    width: 50vw;
}
.service3{
    margin-top: 20%;
    display: flex;
    gap: 2rem;
}
.service3 .connect{
    color: #00308F;
}
.protect3 p{
    color: #fff;
}
.protect3 b{
    color: #DFACFF; 
}
.service3 > img{
    width: 50vw;
    padding-left: 70px;
}
.footer{
    position: absolute;
    top: 320vh;
}
.emblem{
    margin-left: 25px;
    display: flex;
    gap: 80px;
}
 .fa-twitter{
    color: #A4D3F6;
 }
 .fa-meta{
    color: #DFACFF;
 }
 .fa-google{
    color: #38b000;
 }
 .fa-amazon{
    background-color: #fff;
    height: 1.9vh;
    padding: 0px 2px;
 }

/* for ipad screen */
@media only screen and (min-width: 800px) {
     .logo{
        margin-top: 0px;
     }
     .logo a{
        margin: 10px auto;
     }
     .logo a .text{
        margin-left: -30px;
     }
     .buttons{
        position: relative;
        top: -5px;
        left: 78vw;
     }
     .buttons .btn-one{
        font-size: 18px;
     }
     .toggle-btn-main{
        position: relative;
        top: 28px;
        cursor: pointer;
     }
     nav a{
        font-size: 18px;
     }
    .features{
        margin-left: 80px;
    }
    .brands{
        position: relative;
        top: 120vh;
    }
    .services{
        position: relative;
        top: 140vh;
    }
    .footer{
        position: absolute;
        top: 290vh;
    }
    .emblem{
        display: flex;
        gap: 28vw; 
        margin-top: 5%;
        padding-left: 30px;
     }
     #country{
        height: 30px;
        font-size: 20px;
     }
     .bxf{
        display: flex;
        gap: 30px;
        /* margin-top: 20px; */
     }
     .bxf i{
        font-size: 25px;
     }
     .fa-twitter{
        color: #A4D3F6;
     }
     .fa-meta{
        color: #DFACFF;
     }
     .fa-google{
        color: #38b000;
     }
     .fa-amazon{
        background-color: #fff;
        height: 3vh;
        padding: 0px 5px;
     }
}

 /* for laptop screen */

 @media only screen and (min-width: 1000px) {
    .header{
        display: flex;
        /* background: linear-gradient(135deg, hsla(277, 95%, 83%, 1) 3%, hsla(206, 82%, 80%, 1) 62%); */
        margin-top: -5px;
    }
    .logo a{
        margin-left: 0;
    }
    .logo a:hover{
      text-decoration: none;
    }
    .logo a > img{
        width: 5vw;
        height: 10vh;
    }
    .logo a .text{
        font-weight: bolder;
        font-size: 35px;
        margin-top: 3vh;
        margin-left: -18px;
        color: #00308F;
    }
    nav{
        display: flex;
    }
     nav ul{
        display: flex;
        margin-left: 30vw;
        margin-top: -20px;
        column-gap: 1.5rem;
    }
    nav a{
        padding: 5px 10px;
        text-decoration: none;
        border-radius: 5px;
        color: #00308F;
        font-size: 18px;
    }
    nav a:hover{
        background-color: #DFACFF;
        text-decoration: none;
    }
    .toggle-btn-main{
        display: none;
    }
    .buttons{
        margin-left: 0vw;
        margin-top: -50px;
        transform: translateY(100px);
    }
    .buttons .btn-one{
        cursor: pointer;
        text-decoration: none;
        background-color: #00308F;
        color: #c7e2f7;
        font-size: 18px;
        height: 15%;
    }
    .buttons .btn-one:hover{
      background-color: #0343c4;
    }
    .features{
        background: linear-gradient(135deg, hsla(277, 100%, 89%, 1) 3%, hsla(206, 82%, 80%, 1) 62%);
        position: absolute;
        top: 20vh;
        /* margin-top: 50px; */
        margin-left: 25%;
        width: 50vw;
        border-radius: 10px;
        font-family: 'Franklin Gothic Medium', sans-serif;
    }
    .features .header1{
        text-align: center;
        color: #00308F;
    }
    .features .why{
        text-align: center;
        font-size: 18px;
        color: #00308F;
    }
    .uses{
        --gap: 100px;
        --num-cols: 2;
        --rows-height: 200px;
    
        box-sizing: border-box;
        padding-left: 155px;
    
        display: grid;
        grid-template-columns: repeat(var(--num-cols), 200px);
        grid-auto-rows: var(--rows-height);
        gap: var(--gap);
    }
    .uses h1{
        color: #00308F;
    }
    .uses > div{
        box-shadow: 10px 10px 10px #A4D3F6;
        width: 15vw;
    }
    .uses > div:nth-last-child(2){
        height: 35vh;
    }
    .uses .use3{
        box-shadow: 10px 10px 10px #DFACFF;
    }
    .uses .use4{
        box-shadow: 10px 10px 10px #DFACFF;
    }
    .uses .use5{
        box-shadow: 10px 10px 10px #DFACFF;
    }
    .use-para5 > a{
        text-decoration: none;
        color: #00308F;
    }
    .use-para5 > a:hover{
        text-decoration: underline;
    }
    .brands{
        display: block;
        position: relative;
        top: 155vh;
        background-color: rgba(145, 144, 144, 0.534);
    }
    .brand1{
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
    .brand1 > img{
        width: 10vw;
    }
    .brand2{
        display: flex;
        gap: 2rem;
        justify-content: center;
    }
    .brand2 > img{
        width: 10vw;
    }
    .services{
        position: relative;
        top: 180vh;
        padding-left: 20%;
        font-family: 'Franklin Gothic Medium', sans-serif;
        background-color: rgba(145, 144, 144, 0.534);
    }
    .head-service span{
        font-size: 25px;
        color: #00308F;
    }
    .head-service h3{
        font-size: 50px; 
        color: #fff;
    }
    .service1{
        display: flex;
    }
    .service1 .security{
        font-size: 25px;
        padding-top: 50px;
        color: #00308F;
    }
    .protect p{
        font-size: 18px;
        color: #fff;
    }
    .protect b{
        font-size: 25px;
        color: #DFACFF; 
    }
    .service1 > img{
        width: 50vw;
        margin-left: 10%;
    }
    .service2{
        margin-top: 20%;
    }
    .service2 .security2{
        font-size: 25px;
        padding-top: 50px;
        color: #00308F;
    }
    .protect2 p{
        font-size: 18px;
        color: #fff;
    }
    .protect2 b{
        font-size: 25px;
        color: #DFACFF; 
    }
    .service2 > img{
        width: 50vw;
        margin-top: -20%;
        margin-left: 30%;
    }
    .service3{
        margin-top: 20%;
    }
    .service3 .connect{
        font-size: 25px;
        padding-top: 50px;
        color: #00308F;
    }
    .protect3{
        transform: translateY(-50%);
    }
    .protect3 p{
        font-size: 18px;
        color: #fff;
    }
    .protect3 b{
        font-size: 25px;
        color: #DFACFF; 
    }
    .service3 > img{
        width: 50vw;
        margin-top: -20%;
        margin-left: 40%;
    }
    .footer{
        position: relative;
        top: 200vh;
        left: 70px;
    }
    .emblem{
        display: flex;
        gap: 52vw;
        margin-top: 5%;
        padding-left: 90px;
     }
     #country{
        height: 35px;
        font-size: 20px;
     }
     .bxf{
        display: flex;
        gap: 30px; 
        /* margin-top: 20px; */
    }
     .bxf a i{
        font-size: 25px;
     }
     .fa-twitter{
        color: #A4D3F6;
     }
     .fa-meta{
        color: #DFACFF;
     }
     .fa-google{
        color: #38b000;
     }
     .fa-amazon{
        background-color: #fff;
        padding: 0px 5px;
        height: 3vh;
     }
 }